@charset "utf-8";  
@media screen and (min-width:300px) {

*{ padding:0px; margin:0px; }

:root   {  
            --margiela-serif:'ex_01';
        }

        @font-face { font-family:'ex_01'; src: url(/fonts/MargielaSerif-Text.woff) format(truetype);  }
        @font-face { font-family:'ex_02'; src: url(/fonts/sodo-sans-light.ttf) format(truetype);  }
        @font-face { font-family:'ex_03'; src: url(/fonts/sodo-sans-regular.ttf) format(truetype);  }
        @font-face { font-family:'ex_04'; src: url(/fonts/sodo-sans-semi-bold.ttf) format(truetype);  }
  

  section#body-01 { border:1px solid black; display:flex;  flex-direction:column; align-items:center; gap:px; margin-top:67px; }
  article#flexbox-continer-a { border:1px solid black; height:200px; margin:auto; }


  div.flexbox-items { margin:5px; width:200px; background-color:gold; min-height:100px; }

    div#flexbox-item-a1 { display:flex; justify-content:center; align-items:center; }
    div#flexbox-item-a1 > p { font-family:var(--margiela-serif); font-size:21px; letter-spacing:-0.1px; font-weight:400; }

    
    div#flexbox-item-a2 { min-width:50vw; min-height:550px; box-sizing: border-box; display:flex; border-radius:20px; }
    div#flexbox-item-a2 > a > img { object-fit:cover; min-width:60%; border-radius:20px; min-height:550px;}


    #mobile-banner-container {  }




}